[unstable]
codegen-backend = true

[profile.dev]
codegen-backend = "cranelift"

# [profile.dev.package."*"]
# codegen-backend = "llvm"

[net]
git-fetch-with-cli = true

[build]
rustflags = ["-Znext-solver=coherence", "-Zshare-generics=y", "-Zthreads=0"]

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    #"-Clink-arg=-fuse-ld=mold",
    "-Clink-arg=--ld-path=wild",
    "-Znext-solver=coherence",
    "-Zshare-generics=y",
    "-Zthreads=0",
]

[target.x86_64-pc-windows-gnu]
rustflags = [
    #"-Clink-arg=-fuse-ld=mold",
    #"-Clink-arg=--ld-path=wild",
    "-Clink-arg=-fuse-ld=lld",
    "-Znext-solver=coherence",
    "-Zshare-generics=y",
    "-Zthreads=0",
]

[target.x86_64-pc-windows-msvc]
linker = "rust-lld"
